In [70]:
from random_over_sampler import RandomOverSamplerRegression
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [71]:
pd.set_option('display.max_rows',100)
data = pd.read_csv('test/ImbR.csv', index_col=0)
data

            X1         X2        Tgt
0     8.598811   9.646846  10.147398
1     9.424556   7.486556  12.117065
2    13.896771  10.390389  10.000030
3    10.176271  10.584084  10.679731
4    10.323219  10.888969  10.035441
..         ...        ...        ...
995   1.099347   7.417908  20.084010
996   1.700612  13.693203  20.477744
997   2.528996  14.303922  20.144063
998   2.616128   5.795239  20.049739
999   1.332171  15.335230  20.048330

[1000 rows x 3 columns]

In [72]:
data.std().tolist()

[2.8637381238964736, 2.779218640675736, 2.345066664214325]

In [73]:
data1 = data.sample(n=5)

In [74]:
data1

            X1         X2        Tgt
713   9.783215   5.866861  10.790227
252   9.140207  12.128812  11.279797
693   8.027592  13.625320  10.047773
662  14.915620  11.188481  10.415133
588  11.457479  10.542341  10.156272

In [75]:
data2 = data1.loc[data1.index.repeat(2)]
data2

            X1         X2        Tgt
713   9.783215   5.866861  10.790227
713   9.783215   5.866861  10.790227
252   9.140207  12.128812  11.279797
252   9.140207  12.128812  11.279797
693   8.027592  13.625320  10.047773
693   8.027592  13.625320  10.047773
662  14.915620  11.188481  10.415133
662  14.915620  11.188481  10.415133
588  11.457479  10.542341  10.156272
588  11.457479  10.542341  10.156272

In [76]:
feature_stds = data2.std().to_list()
feature_stds

[2.527812109858438, 2.7575073030116295, 0.4749305419698598]

In [77]:
np.random.normal(0,feature_stds[0]*0.3,1)[0]

-0.48790414504893614

In [78]:
np.random.normal(0,feature_stds[1]*0.3,1)[0]

-0.13081381052277521

In [79]:
np.random.normal(0,feature_stds[2]*0.3,1)[0]

-0.2092416623918443

In [84]:
data2.shape

(10, 3)

In [83]:
for index in range(data2.shape[1]):
    data2.iloc[:,index] = data2.iloc[:,index].apply(lambda x: x+np.random.normal(0,feature_stds[index]*0.3,1)[0])
data2

            X1         X2        Tgt
713   9.592867   5.545299  10.730444
713   9.022935   6.776101  10.585230
252   8.237061  12.214712  11.123309
252   9.296802  13.160682  11.320924
693   9.137811  14.187439  10.077945
693   7.795726  13.797187   9.999056
662  14.603444  11.004549  10.284119
662  13.571624  11.655553  10.142627
588  11.267204  11.808769   9.944964
588  11.460543  11.274754  10.019766