In [2]:
from utility_based_random_under_sampler import UtilityBasedRandomUnderSampler
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
pd.set_option('display.max_rows',100)
data = pd.read_csv('test/ImbR.csv', index_col=0)
data

            X1         X2        Tgt
0     8.598811   9.646846  10.147398
1     9.424556   7.486556  12.117065
2    13.896771  10.390389  10.000030
3    10.176271  10.584084  10.679731
4    10.323219  10.888969  10.035441
..         ...        ...        ...
995   1.099347   7.417908  20.084010
996   1.700612  13.693203  20.477744
997   2.528996  14.303922  20.144063
998   2.616128   5.795239  20.049739
999   1.332171  15.335230  20.048330

[1000 rows x 3 columns]

# Testing c_perc as 'balance' with 'extremes' as relevance func

In [4]:
under1 = UtilityBasedRandomUnderSampler(data, thr_rel=0.5)
method = under1.getMethod()
extrType = under1.getExtrType()
thr_rel = under1.getThrRel()
controlPtr = under1.getControlPtr()
c_perc = under1.getCPerc()
method, extrType, thr_rel, controlPtr, c_perc

('extremes', 'both', 0.5, [], 'balance')

In [5]:
resampled = under1.resample()
resampled

            X1         X2        Tgt
1     9.424556   7.486556  12.117065
8     8.282868   6.447229  12.974201
9     8.885845  12.388414  10.002812
17    5.083457   5.822182  10.419335
18   11.753390   9.806153  10.505860
..         ...        ...        ...
995   1.099347   7.417908  20.084010
996   1.700612  13.693203  20.477744
997   2.528996  14.303922  20.144063
998   2.616128   5.795239  20.049739
999   1.332171  15.335230  20.048330

[390 rows x 3 columns]

# Testing c_perc as 'extreme' with 'extremes' as relevance func

In [6]:
data = pd.read_csv('test/ImbR.csv', index_col=0)
under2 = UtilityBasedRandomUnderSampler(data, thr_rel=0.5, c_perc='extreme')
method = under2.getMethod()
extrType = under2.getExtrType()
thr_rel = under2.getThrRel()
controlPtr = under2.getControlPtr()
c_perc = under2.getCPerc()
method, extrType, thr_rel, controlPtr, c_perc

('extremes', 'both', 0.5, [], 'extreme')

In [7]:
resampled = under2.resample()
resampled

            X1         X2        Tgt
1     9.424556   7.486556  12.117065
8     8.282868   6.447229  12.974201
16   11.244626   5.378818  10.826127
19    8.818021   8.547332  11.283378
27   10.383433  10.199685  10.284290
..         ...        ...        ...
995   1.099347   7.417908  20.084010
996   1.700612  13.693203  20.477744
997   2.528996  14.303922  20.144063
998   2.616128   5.795239  20.049739
999   1.332171  15.335230  20.048330

[242 rows x 3 columns]

# Testing c_perc as percentage list with 'extremes' as relevance func

In [8]:
data = pd.read_csv('test/ImbR.csv', index_col=0)
under3 = UtilityBasedRandomUnderSampler(data, thr_rel=0.5, c_perc=[0.5])
method = under3.getMethod()
extrType = under3.getExtrType()
thr_rel = under3.getThrRel()
controlPtr = under3.getControlPtr()
c_perc = under3.getCPerc()
method, extrType, thr_rel, controlPtr, c_perc

('extremes', 'both', 0.5, [], [0.5])

In [10]:
resampled = under3.resample()
resampled

            X1         X2        Tgt
1     9.424556   7.486556  12.117065
2    13.896771  10.390389  10.000030
3    10.176271  10.584084  10.679731
7     6.837347  10.776125  10.324217
8     8.282868   6.447229  12.974201
..         ...        ...        ...
995   1.099347   7.417908  20.084010
996   1.700612  13.693203  20.477744
997   2.528996  14.303922  20.144063
998   2.616128   5.795239  20.049739
999   1.332171  15.335230  20.048330

[597 rows x 3 columns]

# Testing 'range' + c_perc='balance'

In [11]:
data = pd.read_csv('test/ImbR.csv', index_col=0)
under4 = UtilityBasedRandomUnderSampler(data, method = 'range', thr_rel=0.5, 
                                         controlPts=[[14,0,0],[15,1,0],[16,0,0],[20,1,0],[21,0,0]])
method = under4.getMethod()
extrType = under4.getExtrType()
thr_rel = under4.getThrRel()
controlPtr = under4.getControlPtr()
c_perc = under4.getCPerc()
method, extrType, thr_rel, controlPtr, c_perc

('range',
 '',
 0.5,
 [[14, 0, 0], [15, 1, 0], [16, 0, 0], [20, 1, 0], [21, 0, 0]],
 'balance')

In [12]:
resampled = under4.resample()
resampled

            X1         X2        Tgt
201  13.281032   7.605377  10.079308
221  11.544965  13.354101  10.673554
235   6.707460  12.921221  10.621622
286  10.552549   9.223725  14.908881
322   6.653064  11.036752  10.083673
354   7.766981  11.061999  10.511448
541   8.828251   7.229180  10.013781
583  11.246645   9.231108  10.090070
591  11.162420  10.697902  14.502092
640   7.914529   4.637757  14.977403
699   5.964901   9.273580  10.682554
750  13.846075   9.518599  10.584807
770   5.830180  10.648045  15.046847
779   9.302320  10.267972  10.117485
822   9.792700  14.849390  10.002807
840   8.101505  11.543126  11.492268
851   9.756469   8.363578  10.835789
950  17.763116   8.241887  21.967470
951  18.318792   6.357611  20.340583
952   0.867666  11.753622  21.402392
953   3.043253   5.588588  21.580500
955   6.292756  18.353316  20.913908
956   6.370648   1.589128  20.613737
957  18.101095  12.587108  20.488111
958  18.654756  15.330019  20.234341
960  16.011383  16.088116  20.263815
961   5.856639  18.020024  20.288802
963   0.726148  12.375838  20.476608
965   1.345915  14.405638  23.165730
966   9.372790   0.201032  20.069432
967  11.992829   0.516372  20.046010
968   0.794723   9.544152  20.050203
969   1.458802  10.670102  20.558490
970  11.320220   1.967930  20.646036
971   1.043940  14.288723  20.169738
972   6.991966   1.110964  20.652810
975  15.163859   3.501549  21.170766
976  16.906867   4.035344  20.094044
978   1.293795   5.184304  22.034281
979  10.117180  19.474148  20.482706
980   1.533751   7.345418  20.359870
981  17.205438   4.599359  20.229847
984  13.910161  18.885771  21.386787
987  12.878870   2.003889  20.060784
988  17.463125  14.403646  20.398873
990   3.490175  15.188213  20.033299
994  13.786243  19.233551  21.132749
995   1.099347   7.417908  20.084010
996   1.700612  13.693203  20.477744
997   2.528996  14.303922  20.144063
998   2.616128   5.795239  20.049739
999   1.332171  15.335230  20.048330

In [13]:
len(resampled)

52

# Testing 'range' + c_perc='extreme'

In [14]:
data = pd.read_csv('test/ImbR.csv', index_col=0)
under_extreme = UtilityBasedRandomUnderSampler(data, method = 'range', thr_rel=0.5, 
                                         controlPts=[[14,0,0],[15,1,0],[16,0,0],[20,1,0],[21,0,0]], c_perc='extreme')
method = under_extreme.getMethod()
extrType = under_extreme.getExtrType()
thr_rel = under_extreme.getThrRel()
controlPtr = under_extreme.getControlPtr()
c_perc = under_extreme.getCPerc()
method, extrType, thr_rel, controlPtr, c_perc

('range',
 '',
 0.5,
 [[14, 0, 0], [15, 1, 0], [16, 0, 0], [20, 1, 0], [21, 0, 0]],
 'extreme')

In [15]:
resampled = under_extreme.resample()
len(resampled),resampled

(26,
             X1         X2        Tgt
 286  10.552549   9.223725  14.908881
 591  11.162420  10.697902  14.502092
 640   7.914529   4.637757  14.977403
 770   5.830180  10.648045  15.046847
 951  18.318792   6.357611  20.340583
 957  18.101095  12.587108  20.488111
 958  18.654756  15.330019  20.234341
 960  16.011383  16.088116  20.263815
 961   5.856639  18.020024  20.288802
 963   0.726148  12.375838  20.476608
 966   9.372790   0.201032  20.069432
 967  11.992829   0.516372  20.046010
 968   0.794723   9.544152  20.050203
 971   1.043940  14.288723  20.169738
 976  16.906867   4.035344  20.094044
 979  10.117180  19.474148  20.482706
 980   1.533751   7.345418  20.359870
 981  17.205438   4.599359  20.229847
 987  12.878870   2.003889  20.060784
 988  17.463125  14.403646  20.398873
 990   3.490175  15.188213  20.033299
 995   1.099347   7.417908  20.084010
 996   1.700612  13.693203  20.477744
 997   2.528996  14.303922  20.144063
 998   2.616128   5.795239  20.049739
 999   1.332171  15.335230  20.048330)

# Testing 'range' + c_perc=[0.5]

In [16]:
data = pd.read_csv('test/ImbR.csv', index_col=0)
under_perc = UtilityBasedRandomUnderSampler(data, method = 'range', thr_rel=0.5, 
                                         controlPts=[[14,0,0],[15,1,0],[16,0,0],[20,1,0],[21,0,0]], c_perc=[0.5])
method = under_perc.getMethod()
extrType = under_perc.getExtrType()
thr_rel = under_perc.getThrRel()
controlPtr = under_perc.getControlPtr()
c_perc = under_perc.getCPerc()
method, extrType, thr_rel, controlPtr, c_perc

('range',
 '',
 0.5,
 [[14, 0, 0], [15, 1, 0], [16, 0, 0], [20, 1, 0], [21, 0, 0]],
 [0.5])

In [17]:
resampled = under_perc.resample()
len(resampled),resampled

(513,
             X1         X2        Tgt
 0     8.598811   9.646846  10.147398
 1     9.424556   7.486556  12.117065
 3    10.176271  10.584084  10.679731
 5    14.287662   5.945354  10.738249
 6    11.152291  10.551778  10.056516
 ..         ...        ...        ...
 995   1.099347   7.417908  20.084010
 996   1.700612  13.693203  20.477744
 997   2.528996  14.303922  20.144063
 998   2.616128   5.795239  20.049739
 999   1.332171  15.335230  20.048330

 [513 rows x 3 columns])