In [1]:
from gaussian_noise_regression import GaussianNoiseRegression
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_rows',100)
data = pd.read_csv('test/ImbR.csv', index_col=0)
data

            X1         X2        Tgt
0     8.598811   9.646846  10.147398
1     9.424556   7.486556  12.117065
2    13.896771  10.390389  10.000030
3    10.176271  10.584084  10.679731
4    10.323219  10.888969  10.035441
..         ...        ...        ...
995   1.099347   7.417908  20.084010
996   1.700612  13.693203  20.477744
997   2.528996  14.303922  20.144063
998   2.616128   5.795239  20.049739
999   1.332171  15.335230  20.048330

[1000 rows x 3 columns]

In [3]:
data.std().tolist()

[2.8637381238964736, 2.779218640675736, 2.345066664214325]

In [4]:
gn1 = GaussianNoiseRegression(data, thr_rel=0.8, c_perc=[0.5,3])
method = gn1.getMethod()
extrType = gn1.getExtrType()
thr_rel = gn1.getThrRel()
controlPtr = gn1.getControlPtr()
c_perc_undersampling, c_perc_oversampling = gn1.getCPerc()
pert = gn1.getPert()
method, extrType, thr_rel, controlPtr, c_perc_undersampling, c_perc_oversampling, pert

c_perc_undersampling: [0.5]
c_perc_oversampling: [3.0]

('extremes', 'both', 0.8, [], [0.5], [3.0], 0.1)

In [5]:
yPhi, ydPhi, yddPhi = gn1.calc_rel_values()
yPhi

[0.0,
 1.0,
 0.0,
 0.23449150464028656,
 0.0,
 0.28755607723834475,
 0.0,
 0.01517693934246217,
 1.0,
 0.0,
 0.06753577452111577,
 0.00023127583956616252,
 0.0,
 0.0,
 0.0,
 0.0,
 0.37220150245017586,
 0.05155539499476213,
 0.10051224278180876,
 0.8142860695952016,
 0.25014775259902655,
 3.8994885714472495e-05,
 0.0,
 0.0,
 0.0,
 0.09909610506759925,
 0.0,
 0.006098728082051979,
 0.0,
 0.0,
 0.1262770663231892,
 0.0,
 1.0,
 0.0,
 0.46536475143140976,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.1309129032316708,
 0.0,
 1.0,
 0.0,
 0.0,
 0.20595187052812944,
 0.001602848576432287,
 1.0,
 1.0,
 0.0,
 0.0,
 0.32141587450463216,
 0.0,
 0.7169702638201002,
 0.6973316639787605,
 0.0,
 0.5393526244258062,
 0.08205119922042367,
 0.0,
 0.0,
 0.07997991908409859,
 0.0,
 0.0,
 0.0,
 0.12592042639974793,
 0.0,
 0.5427679588976126,
 0.8835476386865986,
 0.2113553445923765,
 0.0,
 0.08786861429473039,
 0.07500445626452297,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.01514151759113075,
 0.0,
 0.0,
 0.20816536893571919,
 0.0,
 0.0,
 0.0,
 0.0,
 0.44920908488120265,
 0.10642704508373925,
 0.0,
 0.0,
 0.0,
 1.0,
 0.6906101444031267,
 0.0,
 0.0,
 0.6198104606492871,
 0.0,
 0.0,
 0.2574585364444527,
 0.014590849248290468,
 0.0013267496592290612,
 0.004785506881740613,
 0.20046223920904913,
 0.0,
 0.0,
 0.0771566265694448,
 0.006202163580986185,
 0.0,
 0.05570008679135493,
 0.0034870077207307267,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.9980576942039426,
 6.800626264518395e-05,
 0.0025977191399522404,
 0.23744939269153711,
 1.0,
 0.014845007727641154,
 0.0,
 0.0,
 0.0,
 0.30403260830093026,
 0.28632700679205286,
 0.026875640572008953,
 0.0,
 0.0,
 0.0,
 0.027858082097055408,
 0.0,
 0.45018100282801776,
 0.0,
 0.0,
 0.07176336184676381,
 0.0,
 0.0,
 0.08827161576528593,
 0.0,
 0.0,
 1.0,
 0.0,
 0.07723426478127583,
 0.16245323525804742,
 0.004318452447208293,
 0.0,
 0.9215714895342648,
 0.0,
 0.04040420602608544,
 0.5520857417723888,
 0.4455267346156042,
 0.0,
 0.0,
 0.0,
 0.0,
 0.14363090505288584,
 0.0,
 0.9240902076419794,
 0.0,
 0.328912035489435,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.27087451375154337,
 0.0,
 0.0,
 0.0,
 0.0003826443109973947,
 0.0,
 0.08583126734475358,
 0.7236152664472664,
 0.022105100360638036,
 0.0,
 0.0,
 0.0,
 0.06469913786058255,
 0.19273853411304276,
 0.0,
 0.0,
 0.0,
 0.11634024257532116,
 0.0,
 0.0,
 0.4806015017716624,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.002391847497235338,
 0.016451058121699186,
 0.5768532862488741,
 0.0,
 0.7488324514621495,
 0.0,
 0.0011180057825633763,
 0.0010663462626908531,
 0.0,
 0.0,
 0.344287556641618,
 0.3234115582576411,
 0.023992261774914272,
 0.0,
 0.0,
 0.02954454820574594,
 0.0,
 0.7424241915837169,
 1.0,
 0.0,
 0.0,
 0.0,
 0.30417851688210207,
 0.0,
 0.0,
 0.22908224783710432,
 1.0,
 0.814718268973888,
 0.13444466480083997,
 0.012796373043796381,
 0.0,
 0.11204111131699576,
 0.002343338968337669,
 0.07277767257092226,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.1852782125075479,
 0.009711208124597734,
 0.05601654266778147,
 0.0,
 0.11423582237233129,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.9583106255287274,
 1.0,
 0.30419194558804324,
 0.007601902768246107,
 0.7543914931566587,
 0.8113645230153296,
 0.0,
 0.0,
 0.0,
 0.9333408657127276,
 0.0,
 0.0092693216179115,
 0.0,
 0.39595776577931,
 0.0,
 0.07907866597067884,
 0.0029427919183874236,
 0.00041529521052104796,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0699439818326456,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0012336689254716525,
 0.0,
 0.04009960490668324,
 0.0,
 0.31049251738920586,
 1.0,
 0.04438733722734774,
 0.036122297891176054,
 0.0,
 0.006917469543420077,
 0.0018001986314733803,
 0.0,
 0.976404328575178,
 0.0,
 0.0,
 0.14159762802676812,
 0.17309610371248915,
 0.01337750135763382,
 0.0,
 0.014949512597931598,
 0.305254508564897,
 0.0,
 0.0,
 0.0,
 0.43497711704695385,
 0.0,
 0.0,
 0.0,
 0.7859457095962541,
 0.0,
 0.22106019322736845,
 0.0,
 0.06924070019760009,
 0.9890781967918646,
 0.9412146925861649,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0004435735911872302,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.048004946267373484,
 0.0,
 1.0,
 0.0,
 0.0,
 0.387715605455802,
 0.0,
 0.0,
 0.0,
 0.0,
 0.01623423236423559,
 0.0,
 0.0572242643018506,
 0.0,
 0.6477584679609508,
 0.0,
 0.7198644434680608,
 0.0,
 0.0,
 0.0,
 0.4406327808286171,
 0.0,
 0.0,
 0.001786096768770633,
 0.1041327312591755,
 0.4008241622241903,
 0.0,
 0.0038674364825595038,
 0.5930649279848274,
 0.0,
 0.8052041635454407,
 0.02044205338551516,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.01027014896245092,
 0.18214962761176726,
 0.01128848600276358,
 0.0,
 0.0,
 0.24670891195614061,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.016071500218002195,
 0.0,
 0.0,
 0.0937114455423452,
 1.0,
 0.0,
 0.0,
 0.766830876238759,
 0.14188241162037896,
 0.0,
 0.22297474591952707,
 0.0,
 0.07783511444692928,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.22438012658901346,
 0.0008250801915508819,
 0.0,
 0.015434620244605386,
 0.0,
 0.7894689181162283,
 0.0,
 0.0,
 0.0,
 0.0,
 0.5639311156992394,
 0.004235058030000158,
 0.024989743505055114,
 6.227589396801671e-06,
 0.0,
 0.028677988131940814,
 0.0,
 0.0022812844503222163,
 0.0,
 0.0,
 0.0,
 1.0,
 0.33824694610427797,
 0.36987327375264206,
 0.609912684055847,
 0.0,
 0.25502448398648486,
 0.0,
 1.0,
 0.0,
 0.09737463925087453,
 0.0,
 0.0,
 0.0,
 0.8731495876323132,
 0.03021185722206354,
 2.7501526856573193e-05,
 0.0,
 1.0,
 0.30683772877863824,
 0.0,
 0.0,
 0.0,
 0.0,
 0.5368809953801237,
 0.0,
 0.0,
 0.9596802570413986,
 0.06822512003089012,
 1.0,
 0.5354001439524462,
 0.039426698695054226,
 1.0,
 0.0011023004956046143,
 0.0,
 0.0,
 0.8575370678494889,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.00614386142795884,
 1.0,
 0.023430026370184258,
 0.00906788103959567,
 0.5257467765616618,
 0.7192676679509687,
 0.12261661557874426,
 0.8052154196687923,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0006663328200945647,
 0.0,
 0.9231791005397477,
 0.0,
 0.0036234952608840514,
 0.0,
 0.0,
 0.0366200684100827,
 1.0,
 0.2490290228814045,
 1.0,
 0.0,
 0.0031716865292519734,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.8885565294797327,
 1.6548930255404868e-05,
 0.0,
 0.0,
 0.9220669319035903,
 0.0,
 0.0,
 0.0256664667621814,
 0.0,
 0.0,
 0.0587847161002048,
 0.0,
 0.0,
 0.0,
 0.10808700372143622,
 0.0,
 0.005257367939684842,
 0.0,
 1.0,
 0.0,
 0.3452509560869693,
 0.693507232251547,
 0.0945315297418295,
 0.0,
 0.06968335393693459,
 0.0,
 0.0,
 0.36155247791864686,
 0.0001939522752584985,
 0.0196995934279375,
 0.4414566695666604,
 1.0,
 0.0031601653999877356,
 0.0,
 0.19701748190064855,
 0.002631064321691881,
 0.0,
 1.0,
 0.1711080368928648,
 0.0,
 0.0,
 0.2769106644387561,
 0.0661404470166684,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.28541669624008625,
 1.0,
 1.0,
 0.0,
 0.025946082576110006,
 0.03510672673111506,
 0.0,
 0.8342589612432465,
 0.0021326130661366498,
 0.005933733366883744,
 0.462643320040302,
 0.05576602367735207,
 0.005914790814239391,
 0.0,
 0.9433676385760212,
 1.0,
 0.0,
 0.933603052960622,
 0.0,
 0.0,
 0.5835397453704684,
 1.0,
 0.0,
 0.0,
 0.005642557055939372,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.012832769151656667,
 0.0,
 0.37776008993696303,
 1.0,
 0.0,
 0.6219472180656458,
 0.0,
 0.0,
 0.0,
 1.0,
 0.016759046022738696,
 0.0,
 0.0,
 0.00027775071665348634,
 1.0,
 0.14404349731695643,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.3086289426690649,
 0.0,
 0.27157465686159815,
 0.0,
 0.0,
 0.6004565400735664,
 0.0028988503015714125,
 0.8360919641885628,
 0.05211465336605055,
 0.0,
 0.0,
 0.08496523154509247,
 0.3824483599319999,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.6911047756159467,
 0.0,
 0.3484609643861726,
 0.6457422674909348,
 0.0,
 0.0,
 0.1226991227241328,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.8558138516556055,
 0.0,
 0.9193835702818,
 0.3858401857899841,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.18131948818230947,
 1.0,
 0.009566073564804795,
 0.0,
 0.0015353909219220515,
 0.13398125683999773,
 0.0,
 0.922548817420156,
 0.0,
 0.0,
 0.18334104718251742,
 0.0,
 0.0,
 0.0,
 0.0,
 7.438989173119138e-05,
 0.0,
 0.049541220520070824,
 0.0,
 0.0,
 0.034441783796583546,
 0.0,
 0.0,
 0.013328468117858107,
 0.0020019502735256845,
 0.11892154098627047,
 0.0,
 0.3156812138235625,
 0.10913920440187679,
 0.32050605922867187,
 0.0,
 0.41219438259943125,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0008645882867310971,
 0.09968141552671857,
 0.0,
 0.0,
 0.0,
 0.059537825901100634,
 0.0,
 0.0,
 0.013346688143394974,
 0.046949586922533856,
 0.0,
 0.9971835226494782,
 0.0,
 0.0,
 0.00033697442840183487,
 0.09736308291210957,
 0.2369763043480183,
 0.07743422769223805,
 1.0,
 0.3197329424167442,
 0.8845092202017695,
 0.0,
 0.0,
 0.5663901807367925,
 0.0,
 0.0,
 0.0,
 0.0,
 0.010486664085249226,
 0.0,
 0.3370322561690955,
 0.4327866726547573,
 0.5333882857733341,
 0.859428721581307,
 0.0,
 0.005547953146361899,
 0.17363531245499628,
 0.10420665649214553,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0014677282914762934,
 0.7340171531034472,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.003317812031270541,
 0.0,
 0.0,
 0.0,
 0.9233204402700256,
 0.001886591654483811,
 0.0,
 0.0,
 0.0,
 0.15546004749208925,
 0.10768352958103042,
 6.979925901796615e-05,
 0.0,
 0.054362028277811635,
 0.0,
 0.0,
 0.1562313760002741,
 0.0,
 0.09784865838921017,
 0.7224908372527209,
 0.0,
 0.9463469375586963,
 1.0,
 0.0,
 0.0,
 0.002317428304760493,
 0.00012942741789016647,
 0.20517201307160898,
 0.15836872914965652,
 0.48969844758462133,
 0.003866769001092569,
 0.0,
 0.0,
 0.03706163332587833,
 0.26908507702658524,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.5794568689546662,
 0.0,
 0.0,
 0.009390784262542556,
 0.0,
 0.0,
 0.1781470790089863,
 0.42112350965001877,
 0.8934393454786451,
 0.3972257003221596,
 0.0,
 0.022115527858171963,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.18773420823138268,
 0.0,
 0.013651796305745763,
 0.14519140676915365,
 0.002119273151624412,
 0.0,
 0.2081992770929684,
 0.9677493327010623,
 0.004380878368687091,
 0.06290817671425342,
 1.0,
 0.0,
 0.0,
 0.018033500583401717,
 0.0,
 0.0,
 0.0,
 5.378957099959134e-07,
 0.0,
 1.0,
 0.0,
 0.16179174449874487,
 0.1560093701535728,
 0.0016991843517390388,
 0.0008582717008311425,
 0.003353038794246019,
 0.0,
 0.0,
 0.032477217914885816,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2419168548613961,
 0.0,
 0.0,
 0.036420575027218974,
 0.0,
 0.0,
 0.7988872614874778,
 0.0,
 0.004908103063184257,
 0.020388829527838073,
 0.0023679927207809924,
 0.0,
 0.0,
 0.0,
 0.0,
 0.17959269724628024,
 0.9513417497289094,
 0.0,
 0.0,
 0.0004575807538803988,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.005747293303633614,
 0.7269085218564705,
 0.3817794773456762,
 0.0,
 0.19740177565753503,
 0.025925931899469363,
 0.00640782517140785,
 0.06389475172726446,
 0.2963552309861929,
 0.7858640228526987,
 0.0,
 0.0,
 0.3449182528636686,
 0.0,
 0.0,
 0.0,
 0.0,
 0.5235453241809161,
 1.0,
 0.02225679553596819,
 0.0,
 0.0,
 0.03377150299513224,
 0.04691721676454849,
 0.7851904514814565,
 0.0,
 0.47843402476952546,
 0.12757873994754948,
 0.3700240980055234,
 0.0,
 0.020910020290006843,
 0.0,
 0.06962861021116849,
 0.0,
 0.0,
 0.0,
 0.05426550897539448,
 0.0,
 0.8817363370578407,
 0.9155597145377224,
 0.0,
 0.0,
 0.0,
 0.0,
 0.3009280500990603,
 1.0,
 0.0,
 0.0,
 1.0,
 0.00542607458158924,
 5.576774628792464e-05,
 0.0,
 0.0,
 0.025744387902826658,
 0.30396696752762264,
 0.2037491861354678,
 0.0008561041152448884,
 0.8249632677534148,
 0.00034682445839416754,
 0.10408401646199607,
 0.6674708677938418,
 0.9673472787084562,
 0.0,
 0.5615896666749176,
 0.1735982641983949,
 0.0,
 0.046932578164733424,
 0.002401144262292823,
 0.0018057265483734117,
 0.0,
 0.0,
 0.5131638428208176,
 0.0,
 0.0,
 0.0,
 0.0,
 0.04897973531713536,
 0.44345819103564516,
 0.0,
 0.0,
 0.0,
 0.13063701586383158,
 0.004029676418069688,
 0.0,
 0.0,
 0.0,
 0.9818702918270737,
 0.0,
 0.0,
 0.20841258820901323,
 0.0,
 0.04813220247608391,
 0.0,
 0.0,
 1.0,
 0.4174466822823844,
 0.0,
 0.724979300357742,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0]

In [6]:
data1 = gn1.preprocess_data(yPhi)
data1

            X1         X2        Tgt  yPhi
82    9.073350   7.613878  10.000001   0.0
555   6.352573  15.318034  10.000004   0.0
240   8.028445   9.200406  10.000004   0.0
900   7.464715   3.426686  10.000005   0.0
255   9.778587  12.741654  10.000007   0.0
..         ...        ...        ...   ...
950  17.763116   8.241887  21.967470   1.0
962  19.056505  12.872636  21.984632   1.0
978   1.293795   5.184304  22.034281   1.0
992   7.537002   0.792406  22.132823   1.0
965   1.345915  14.405638  23.165730   1.0

[1000 rows x 4 columns]

In [7]:
gn1.set_feature_stds_list(data1)
feature_stds_list = gn1.get_feature_stds_list()
feature_stds_list

[2.863738123896472, 2.7792186406757384, 2.3450666642143245, 0.3578235652189851]

In [8]:
gn1.set_obj_interesting_set(data1)
interesting_set = gn1.get_obj_interesting_set()
interesting_set

            X1         X2        Tgt      yPhi
360   9.486752  13.356560  11.272307  0.805204
476  14.280762   9.990028  11.272320  0.805215
252   9.140207  12.128812  11.279797  0.811365
19    8.818021   8.547332  11.283378  0.814286
223  11.768971  10.416953  11.283910  0.814718
..         ...        ...        ...       ...
950  17.763116   8.241887  21.967470  1.000000
962  19.056505  12.872636  21.984632  1.000000
978   1.293795   5.184304  22.034281  1.000000
992   7.537002   0.792406  22.132823  1.000000
965   1.345915  14.405638  23.165730  1.000000

[151 rows x 4 columns]

In [9]:
gn1.set_obj_uninteresting_set(data1)
uninteresting_set = gn1.get_obj_uninteresting_set()
uninteresting_set

            X1         X2        Tgt      yPhi
82    9.073350   7.613878  10.000001  0.000000
555   6.352573  15.318034  10.000004  0.000000
240   8.028445   9.200406  10.000004  0.000000
900   7.464715   3.426686  10.000005  0.000000
255   9.778587  12.741654  10.000007  0.000000
..         ...        ...        ...       ...
873  12.258791   7.859296  11.248509  0.785190
858  10.366771  10.120133  11.249297  0.785864
309  15.093935  10.185013  11.249393  0.785946
412  11.633144  12.850967  11.253532  0.789469
830  12.635806  10.641399  11.264710  0.798887

[849 rows x 4 columns]

In [10]:
gn1.set_obj_bumps(data1)
bumps_undersampling, bumps_oversampling = gn1.get_obj_bumps()
bumps_undersampling, bumps_oversampling

([            X1         X2        Tgt      yPhi
  82    9.073350   7.613878  10.000001  0.000000
  555   6.352573  15.318034  10.000004  0.000000
  240   8.028445   9.200406  10.000004  0.000000
  900   7.464715   3.426686  10.000005  0.000000
  255   9.778587  12.741654  10.000007  0.000000
  ..         ...        ...        ...       ...
  873  12.258791   7.859296  11.248509  0.785190
  858  10.366771  10.120133  11.249297  0.785864
  309  15.093935  10.185013  11.249393  0.785946
  412  11.633144  12.850967  11.253532  0.789469
  830  12.635806  10.641399  11.264710  0.798887

  [849 rows x 4 columns]],
 [            X1         X2        Tgt      yPhi
  360   9.486752  13.356560  11.272307  0.805204
  476  14.280762   9.990028  11.272320  0.805215
  252   9.140207  12.128812  11.279797  0.811365
  19    8.818021   8.547332  11.283378  0.814286
  223  11.768971  10.416953  11.283910  0.814718
  ..         ...        ...        ...       ...
  950  17.763116   8.241887  21.967470  1.000000
  962  19.056505  12.872636  21.984632  1.000000
  978   1.293795   5.184304  22.034281  1.000000
  992   7.537002   0.792406  22.132823  1.000000
  965   1.345915  14.405638  23.165730  1.000000

  [151 rows x 4 columns]])

In [11]:
resampled = gn1.process_percentage()
resampled

len_c_perc_undersampling=1
len_bumps_undersampling=1
len(self.c_perc) == 1
process_percentage(): undersample_perc=0.5
process_percentage(): bump size=849
process_percentage(): resample_size=424
len_c_perc_oversampling=1
len_bumps_oversampling=1
c_perc_oversampling[0]=3.0
c_perc_int, c_perc_frac ==(3.0, 0.0)

            X1         X2        Tgt      yPhi
132  10.103082  10.576584  10.050609  0.000000
54    9.435573   3.626643  10.056957  0.000000
290  12.920960   8.184738  10.288746  0.006917
725  10.625620  13.452751  10.101165  0.000000
872   7.251123  10.398426  10.409544  0.046917
..         ...        ...        ...       ...
978   1.182097   4.973804  21.756779  1.022121
992   7.780664   0.957126  21.933746  1.026755
992   7.574934   0.962479  22.147229  1.009329
965   1.228168  14.276126  22.844538  0.971264
965   0.894642  14.781026  23.032039  1.032731

[877 rows x 4 columns]

In [12]:
data = pd.read_csv('test/ImbR.csv', index_col=0)
data

            X1         X2        Tgt
0     8.598811   9.646846  10.147398
1     9.424556   7.486556  12.117065
2    13.896771  10.390389  10.000030
3    10.176271  10.584084  10.679731
4    10.323219  10.888969  10.035441
..         ...        ...        ...
995   1.099347   7.417908  20.084010
996   1.700612  13.693203  20.477744
997   2.528996  14.303922  20.144063
998   2.616128   5.795239  20.049739
999   1.332171  15.335230  20.048330

[1000 rows x 3 columns]

In [13]:
gn2 = GaussianNoiseRegression(data, thr_rel=0.8, c_perc='balance')
method = gn2.getMethod()
extrType = gn2.getExtrType()
thr_rel = gn2.getThrRel()
controlPtr = gn2.getControlPtr()
c_perc = gn2.getCPerc()
pert = gn1.getPert()
method, extrType, thr_rel, controlPtr, c_perc, pert

('extremes', 'both', 0.8, [], 'balance', 0.1)

In [14]:
resampled = gn2.resample()
resampled

process_balance(): resample_size per bump=849
ratio=5.622516556291391
c_perc_int, c_perc_frac ==(5.0, 0.6225165562913908)

           X1         X2        Tgt
0    8.598811   9.646846  10.147398
1    9.630528   7.080806  12.499978
1    9.724541   7.495142  12.063209
1    9.058696   7.621258  12.357387
1    9.885755   7.734220  11.981854
..        ...        ...        ...
999  1.619035  14.489744  20.093400
999  1.143504  14.910030  19.853613
999  1.347930  15.142560  19.839703
999  1.269449  15.471771  20.224855
999  1.460513  15.292688  19.583607

[1698 rows x 3 columns]

In [15]:
data = pd.read_csv('test/ImbR.csv', index_col=0)
data

            X1         X2        Tgt
0     8.598811   9.646846  10.147398
1     9.424556   7.486556  12.117065
2    13.896771  10.390389  10.000030
3    10.176271  10.584084  10.679731
4    10.323219  10.888969  10.035441
..         ...        ...        ...
995   1.099347   7.417908  20.084010
996   1.700612  13.693203  20.477744
997   2.528996  14.303922  20.144063
998   2.616128   5.795239  20.049739
999   1.332171  15.335230  20.048330

[1000 rows x 3 columns]

In [16]:
gn3 = GaussianNoiseRegression(data, thr_rel=0.8, c_perc='extreme')
method = gn3.getMethod()
extrType = gn3.getExtrType()
thr_rel = gn3.getThrRel()
controlPtr = gn3.getControlPtr()
c_perc = gn3.getCPerc()
pert = gn3.getPert()
method, extrType, thr_rel, controlPtr, c_perc, pert

('extremes', 'both', 0.8, [], 'extreme', 0.1)

In [17]:
resampled = gn3.resample()
resampled

process_extreme(): size of bumps_oversampling=1
process_extreme(): size of bumps_undersampling=1
process_extreme(): size of uninteresting_set=849
process_extreme(): len_uninteresting_set=849
process_extreme(): size of total_set=1000
process_extreme(): average_cnt_uninteresting_set=849.0
process_extreme(): resample_size=4773.516556291391
process_extreme(): resample_size_per_bump=4774
process_extreme(): c_perc_int, c_perc_frac ==(31.0, 0.6158940397350996)
process_extreme(): size_frac_new_samples_set=93

           X1         X2        Tgt
0    8.598811   9.646846  10.147398
1    9.315992   7.994162  11.868188
1    9.709933   7.574990  12.071776
1    9.611864   7.345014  12.191742
1    9.277154   7.438526  12.056780
..        ...        ...        ...
999  0.936851  15.424871  19.868128
999  1.762842  15.174230  20.145223
999  1.375593  15.323008  19.678822
999  1.360550  15.253259  20.186872
999  1.528072  15.063024  19.982295

[5623 rows x 3 columns]